.planOptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    

}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideInRight 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}