.section {
    border: 1px solid rgba(214, 217, 230, 1);
    padding: 20px 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in;
    margin: 12px 0;
}

.name {
    font-family: 'ubuntu-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 18.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(2, 41, 89, 1);
}


.description {
    font-family: 'ubuntu-Regular';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(150, 153, 170, 1);
}

.plan {
    color: rgba(72, 62, 255, 1);
    font-family: 'ubuntu-Regular';
}

.checkbox {
    width: 20px;
    padding: 5px;
    cursor: pointer;
}


.section:hover {
    border: 1px solid rgba(72, 62, 255, 1);

}

.section input[type="checkbox"]:checked {
    border-color: green;
}

.leftside {
    display: flex;
    gap: 10px;
}

@font-face {
    font-family: 'ubuntu-Regular';
    src: url(../public/fonts/Ubuntu-Regular.ttf);
}


@font-face {
    font-family: 'ubuntu-Medium';
    src: url(../public/fonts/Ubuntu-Medium.ttf);
}