.btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.prevbtn{
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgba(150, 153, 170, 1);
    transition: 0.3s ease-in;
}

.prevbtn:hover{
   color: rgba(2, 41, 89, 1);
}


.nextbtn{
    width: 123px;
    height: 48px;
    left: 327px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(2, 41, 89, 1);
    color: white;
    transition: 0.3s ease-in;


}

.nextbtn:hover{
    background: rgba(22, 74, 138, 1);
}